{{ partial "header.html" . }}

  <div class="content">
    <div class="main">
        <h1 class="non-highlight">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="published">{{ .Date.Format "2006-01-02" }}</div>
        </h1>

        {{ .Content }}
        {{ if isset .Params "image" }}
          <img src="{{ .Params.image }}">
          <br/>
          <div class="imagemeta">Bild von {{ .Params.imageauthor | safeHTML }}</span>
          <br/>
          <br/>
        {{ end }}

    </div>
  </div>

{{ partial "footer.html" . }}
